.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.dashboard-inner-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 10%;
}

.dashboard-inner-container div {
  background-color: rgb(195, 195, 195);
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.3);
  cursor: pointer;
}
.dashboard-inner-container div:hover {
  transform: scale(1.1);
}

.total-stock,
.total-delivered,
.low-stock {
  margin-top: 15%;
}

.total-stock {
  color: green;
}

.total-delivered {
  color: rgb(215, 143, 8);
}

.low-stock {
  color: rgb(198, 7, 7);
}

.dashboard-inner-container h3 {
  margin-top: 0;
  font-size: x-large;
}
